/* 列表 */
.view-list{
  background: #fff;
  .view-list-item{
    position: relative;
    padding:u(20) u(30);
    font-size: u(24);
    &.view-list-arrow{
      padding-right: u(50);
      &:after{
        content: '';
        position: absolute;
        top: 50%;
        right: u(30);
        width: u(20);
        height: u(34);
        background: url("../../assets/image/icon-arrow.png");
        background-size:cover ;
        transform: translate(0, -50%);
      }
    }
    &.view-list-line:before{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: u(2);
      background:#ddd;
      transform: scaleY(.5);
    }
    .nav-url{}
  }
}
